@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: "Noto Emoji";
  font-weight: 600;
  src: url('fonts/NotoEmoji-SemiBold.woff2') format('woff2'),
       url('fonts/NotoEmoji-SemiBold.woff') format('woff');
}

body {
  --size-width-card: 200px; /* or 10vw (responsive) */
  --size-height-card: calc(var(--size-width-card) * 1.4);
  --size-width-chest: var(--size-width-card);
  --size-height-chest: calc(var(--size-width-card) * 0.8);
  --size-text: calc(var(--size-width-card) * 0.5);
  --size-text-rank: calc(var(--size-text) / 2);
  --rectangle: polygon(15% 0, 15% 100%, 85% 100%, 85% 0);
  --color-card: white;
  --red-card: red;
  --black-card: black;
  --color-border: gray;


  font-family: 'Montserrat', 'Noto Emoji', sans-serif;
  font-weight: 600;

  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgba(28,88,238,1) 0%,
    rgba(0,39,137,1));
}
